<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Items</title>
</head>
<body>
    <form action="/" method="get">
        <button type="submit" style="cursor: pointer;">Return to Home Page</button>
    </form><br><br>

    <form action="/add-products" method="post">
        <input type="text" name="item" placeholder="enter items name......" required><br><br>
        <input type="number" name="quantity" placeholder="Enter quentity of items......" required><br><br><br>
        <input type="submit" value="Add Items">
    </form>
</body>
</html>