<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <h1>This is home page</h1>
    <form action="/products" method="get">
        <button type="submit" style="cursor: pointer;">Show all Products</button>
    </form><br>

    <form action="/products/create" method="get">
        <button type="submit" style="cursor: pointer;">Add Products</button>
    </form><br>

    <!-- <form action="/products/delete" method="get">
        <button type="submit">Delete Products</button>
    </form><br>

    <form action="/products/" method="get">
        <button type="submit">Update Products</button>
    </form> -->

</body>
</html>