<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>

    <form action="/products" method="get">
        <input type="submit" value="Back">
    </form>
    <form action="/products/update" method="post">
        <input type="number" name="quantity" placeholder="Enter updated quantity...." required>
    </form>


</body>
</html>